@model IEnumerable<AbstractTravelAgencyServiceDAL.ViewModel.BookingViewModel>

@{
    ViewBag.Title = "Заказы клиентов. Отчет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Прайс путевок</h2>
@Html.ValidationSummary(true)

@using (Html.BeginForm("SaveVoucherPrice", "Report", FormMethod.Post))
{
    <table class="table">
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoucherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusBooking)
            </th>
            <th></th>
        </tr>*@

        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusBooking)
                </td>
            </tr>
        }*@
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Создать" class="btn btn-primary" />
        </div>
    </div>
}